[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ytmusicapi = "*"
speechrecognition = "*"
duckduckgo-search = "*"
ffmpeg-python = "*"
python-dotenv = "*"
pyttsx4 = "*"
pyaudio = "*"
gtts = "*"

[dev-packages]

[requires]
python_version = "3.11"
